$purpleLight: #787CBF;
$blue: #0468BF;
$blueLight: #05AFF2;
$bluehighlight: #72E5F2;
$blue_t: #0468bf8f;
$blueLight_t: #05aff28a;
$bluehighlight_t: #72e5f296;
$blueTrans: rgba(114,229,242,0.5);
$green: #5da56f;
$greenLight: #8FD9A1;
$green_t: #5da56f8a;
$greenLight_t: #8fd9a29b;
$yellow: #F2B705;
$yellow_t: #f2b70594;
$yellowLight: #F2DA63;
$orange: #F28705;
$redbright: #FF0005;
$red: #BF3604;
$redLight: #F27D52;

