$purpleLight: #787CBF;
$blue: #0468BF;
$blueLight: #05AFF2;
$bluehighlight: #72E5F2;
$blueTrans: rgba(114,229,242,0.5);
$green: #5da56f;
$greenLight: #8FD9A1;
$yellow: #F2B705;
$yellowLight: #F2DA63;
$orange: #F28705;
$redbright: #FF0005;
$red: #BF3604;
$redLight: #F27D52;

