@import "./variable";
@import "./fonts";
* {
    margin: 0;
    padding: 0;
    
    a {
        text-decoration: none;
    }
}
html {
    font-size: 1.2vw;
}
h1 {
    font-size: 1.3rem;
}
.red {
    background-color: $redbright;
}
.orange {
    background-color: $orange;
}
.purple {
    background-color: $purpleLight;
}
.done {
    background-color: $blueTrans;
}
.yellow {
    background-color: $yellowLight;
}
body {
    background-color: $blueLight;
    background-image: url(../imgs/bubbles_bg.svg);
    background-repeat: repeat-y;
    background-size: cover;

    .headerLog {
        width: max-content;
        margin: 7vw auto;
        font-family: 'Gluten', cursive;
        font-size: 2.5rem;
        color: $redbright;
        text-shadow: 2px 2px 0.05vw $blue;
    }
    .headerList {
        width: max-content;
        margin: 2vw auto;
        font-family: 'Gluten', cursive;
        font-size: 2rem;
        color:$redbright;
        text-shadow: 2px 2px 0.05vw $blue;
    }
}
#connect {
    font-family: Arial, Helvetica, sans-serif;
    width: 18vw;
    height: 18vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    background-color: $blue_t;
    background-image: url(../imgs/bubble.svg);
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-size: 1rem;
        padding: 0.5vw;
        background-color: $blueTrans;
        color: black;
        display: block;
        margin: 0.5vw auto ;
        border-radius: 0.6vw;
        
    }
    div {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    
    input[type=text] {
        margin: 0.2vw;
        width: 9.5vw; 
        padding: 0.2vw;
        height: 1.2vw;
        border: none;
        border-bottom: $orange 3px solid;
    }
    button {
        width: 10vw;
        margin: 0.2vw;
        padding: 0.3vw;
        color: black;
        background-color: $greenLight;
        border: none;
        border-radius: 0.6vw;
        cursor: pointer;
        &:hover {
            background-color: $green;
        }
    }
}
.imgUser {
    width: 5vw;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#tabList {
    font-family: Arial, Helvetica, sans-serif;
    width: 65vw;
    margin: auto;
    background-color: none;

    .yourList {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        .titleList {
            justify-content: space-evenly;
            h1 {
                font-family: 'Gluten', cursive;
                color: $blue;
                width: 6.5vw;
                height: 6.5vw;
                padding: 1vw;
                border-radius: 50%;
                display: flex;
                text-align: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $bluehighlight_t;
                background-image: url(../imgs/bubble.svg);
            }
            div {
                font-family: 'Gluten', cursive;
                color: $redbright;
                width: 6vw;
                height: 6vw;
                margin-top: 2vw;
                padding: 2.3vw;
                border-radius: 50%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $blueLight_t;
                background-image: url(../imgs/bubble.svg);
            }
            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .searchList {
            font-weight: bold;
            display: flex;
            flex-direction: row-reverse;
            .sort {
                color: white;
                text-shadow: 2px 2px 1px $blue;
                padding: 1vw;
                width: 7vw;
                height: 7vw;
                padding: 3vw;
                margin-right: 15vw;
                border-radius: 50%;
                flex-direction: column;
                justify-content: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $blue_t;
                background-image: url(../imgs/bubble.svg);
                    label {
                        font-size: 0.9rem;
                        padding: 0.5vw 0;
                    }
                    select {
                        font-size: 0.8rem;
                        padding: 0 0.4vw;
                        resize: vertical;
                        border: none;
                        border-radius: 0.5vw;     
                    }
            }            
            .addCat {  
                color: white;
                text-shadow: 2px -2px 1px $blue;
                padding: 1vw;
                margin: 4vw 0vw 0 0;
                width: 6vw;
                height: 6vw;
                padding: 2vw;
                border-radius: 50%;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $blue_t;
                background-image: url(../imgs/bubble.svg);
                    p {
                        font-size: 0.9rem;
                        padding: 0.5vw 0;
                    }
                    input[type=text] {
                        font-size: 0.8rem;
                        padding: 0 0.4vw;
                        resize: vertical;
                        border: none;
                        border-radius: 0.5vw;
                    }
                    button {
                        font-size: 0.7rem;
                        font-weight: bold;
                        margin: 0.2vw 0;
                        padding: 0.3vw 0.2vw;
                        color: white;
                        background-color: $orange;
                        border: none;
                        border-radius: 0.5vw;
                        cursor: pointer;
                            &:hover {
                            background-color: $yellow;        
                    }
                }
            
            }
        }
        div {
            display: flex;
        }
    }

    #categories {
        .categorie {
            padding: 0 0 1vw 0;
            header {
                display: flex;
                // justify-content: center;
                align-items: center;
            }
            h2 {
                font-size: 1rem;
                color:$blue;
                width: 6vw;
                height: 6vw;
                margin-top: 3vw;
                padding: 1vw;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-repeat: no-repeat;
                background-size: cover;
                background-color: $greenLight_t;
                background-image: url(../imgs/bubble.svg);
            }
            .addTask {
                width: 18vw;
                height: 18vw;
                background-color: $bluehighlight_t;
                display: flex;
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url(../imgs/bubble.svg);
                h3 {
                    font-size: 0.9rem;
                    color:$blue;
                    width: 5vw;
                    height: 5vw;
                    margin-top: 2.5vw;
                    padding: 0.5vw;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: $yellow_t;
                    background-image: url(../imgs/bubble.svg);
                }
                .addForm {
                    font-size: 0.9rem;
                    color:$blue;
                    width: 10vw;
                    height: 10vw;
                    margin-top: 5vw;
                    padding: 1vw;
                    border-radius: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-color: $blueLight_t;
                    background-image: url(../imgs/bubble.svg);
                    input[type=text], input[type=date], select {
                        font-size: 0.8rem;
                        margin: 0.4vw 0;
                        padding: 0.1vw 0.4vw;
                        resize: vertical;
                        border: none;
                        border-radius: 0.4vw;   
                    }
                    input[type=button] {
                        font-size: 0.7rem;
                        font-weight: bold;
                        margin: 0.2vw 0;
                        padding: 0.3vw 0.5vw;
                        color: white;
                        background-color: $orange;
                        border: none;
                        border-radius: 0.5vw;
                        cursor: pointer;
                            &:hover {
                            background-color: $yellow;
                        }
                    }
                }
            }
            .taskLine {
                color: $blue;
                padding: 1vw 1.1vw;                
                border-radius: 2vw;
                margin: 0.5vw 0;
                h3 {
                    font-size: 0.8rem;
                    color: $blue;
                }
                .task {
                    font-size: 0.8rem;
                    padding: 0.5vw 0;
                    display: flex;
                    justify-content: space-evenly;
                    justify-items: center;
                    border: none;
                    
                    .urgent {
                        width: 1vw;
                        height: 1vw;
                        border-radius: 50%;
                        background-image: url(../imgs/bubble.svg);
                        background-repeat: no-repeat;
                        background-size: cover;  
                    }
                    .taskTxt {
                        width: 40vw;
                    }
                    select {
                        padding: 0 0.5vw;
                        font-size: 0.7rem;
                        width: 6vw;
                        background-color: $greenLight;
                        border: none;
                        border-radius: 0.3vw;
                    }
                }
            }    
        }
    }    
}